 @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Poppins:ital@0;1&display=swap');

 $--max-width: 1200px;
 $--medium-width: 30%;
 $--large-width: 45%;
 $--form-width: 80%;
 $--margin-main: 0 auto;
 $--border-radius: 15px;
 $--font-size-titles: 2rem;
 $--font-size-paragraph: 1.2em;
 $--font-primary: 'Poppins', sans-serif;
 $--font-secondary: 'Kumbh Sans', sans-serif;
 $--bg-color-primary: linear-gradient(90deg, #00006e 0%, #3519e7 115%);
 $--bg-color-button: linear-gradient(90deg, #1a0cab 0%, #2713c9 115%);
 $--bg-color-button-hover: linear-gradient(90deg, #2713c9 0%, #0d068c 115%);